#login img{
  margin: 10px 0;
}
#login .center {
  text-align: center;
}

#login .login {
  max-width: 300px;
	margin: 35px auto;
}

#login .login-form{
  padding:0px 25px;
}

#deviceContainer {
  height: 100%;
}

#deviceContainer .row {
  transition: 0.5s all ease-in-out;
  height: 100%;
  max-height: 100%;
}
#deviceContainer .row * {
  transition: 0.5s all ease-in-out;
}
#deviceContainer .col {
  height: 100%;
  max-height: 100%;
  padding: 0;
}
#deviceContainer .col .row {
  margin: 0;
  height: 100%;
  max-height: 100%;
}
#deviceContainer.open {
  margin-left: -15px;
  padding-right: 15px;
}
#deviceContainer.open * {
  margin-left: 0;
}

#deviceContainer.closed {
  margin-left: -999px;
}
#deviceContainer.closed *{margin-left: -999px;}
#deviceContainer .devices_list {
  height: 50%;
  max-height: 50%;
  padding-right: 0;
  overflow: hidden;
}
#deviceContainer .devices_list .head {
  height: 10%;
  margin: 0;
  background: #51bcda;
}
#deviceContainer .devices_list .head h2 {
  display: inline;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 0.5rem;
  text-align: center;
}
#deviceContainer .devices_list .head .icons {
  text-align: right;
}
#deviceContainer .devices_list .head .icons .icon {
  margin-right: 1rem;
  color: #fff;
  cursor: pointer;
  padding: 0.15rem 0.25rem;
}
#deviceContainer .devices_list .content {
  max-height: 90%;
  display: flex;
}
#deviceContainer .devices_list .content table {
  display: flex;
  flex-flow: column;
  width: 100%;
}
#deviceContainer .devices_list .content thead {
  flex: 0 0 auto;
}
#deviceContainer .devices_list .content tbody {
  flex: 1 1 auto;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}
#deviceContainer .devices_list .content tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}
#deviceContainer .device_info {
  height: 50%;
  max-height: 50%;
  padding-right: 0;
  overflow: auto;
}
#deviceContainer .device_info .head {
  height: 10%;
  margin: 0;
  background: #51bcda;
}
#deviceContainer .device_info .head h2 {
  display: inline;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 0.5rem;
}
#deviceContainer .device_info .content {
  max-height: 90%;
  display: flex;
}
#deviceContainer .device_info .content table {
  display: flex;
  flex-flow: column;
  width: 100%;
}
#deviceContainer .device_info .content thead {
  flex: 0 0 auto;
}
#deviceContainer .device_info .content tbody {
  flex: 1 1 auto;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
}
#deviceContainer .device_info .content tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}
.table .active {
  background: #6ec7e0 !important;
}
.table .offline {
  background: #ffe1b5;
}
.table .online {
  background: #68edc1;
}


.home {
  height: 100vh;
}
.home .home_content {
  height: 100%;
}
.home .device-map-cont.historyopen {
  height: 70%;
}
.home .device-map-cont.historyclosed {
  height: calc(100% - 45px);
}
.home .device-map-cont {
  max-height: 100vh;
  height: 70%;
  transition: all 0.5s ease-in-out;
}
.home .device-map-cont .devices, .home .device-map-cont .map {
  height: 100%;
  position: relative;
}
.home .device-map-cont .devices.open {
  flex: 0 0 25%;
  padding-left: 0;
}
.home .device-map-cont .devices.open .title {
  margin-left: -100%;
}
.home .device-map-cont .devices.open .v-separator .arrow img {
  transform: rotate(180deg);
}
.home .device-map-cont .devices.open .device_cont {
  overflow: visible;
  width: 100%;
}
.home .device-map-cont .devices.closed {
  flex: 0 0 45px;
}
.home .device-map-cont .devices.closed .title {
  display: block;
  margin-left: 0;
}
.home .device-map-cont .devices.closed .v-separator .arrow img {
  transform: rotate(0);
}
.home .device-map-cont .devices.closed .device_cont {
  overflow: hidden;
  width: 0;
}
.home .device-map-cont .device_cont {
  transition: 1ms all ease-in-out;
}
.home .device-map-cont .devices {
  padding-right: 15px;
  transition: all 0.5s ease-in-out;
}
.home .device-map-cont .devices .title {
  color: white;
  height: 100%;
  position: absolute;
  width: 30px;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding-top: 30px;
  transition: 0.5s all ease-in-out;
}
.home .device-map-cont .devices .title span {
  display: block;
  transform: rotate(90deg);
  font-size: 1.25rem;
}
.home .device-map-cont .devices .v-separator {
  width: 15px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 9999;
  background: #fbc658;
}
.home .device-map-cont .devices .v-separator .arrow {
  background: rgba(255, 255, 255, .7);
  padding-top: 15px;
  padding-bottom: 15px;
  width: 15px;
  text-align: center;
}
.home .device-map-cont .devices .v-separator .arrow img {
  width: 10px;
  transform: rotate(180deg);
  transition: 0.5s all ease-in-out;
}
.home .device-map-cont .map {
  max-width: 100%;
}
.home .historial-cont.open {
  max-height: 30vh;
  height: 100%;
}
.home .historial-cont.open .title {
  bottom: -100% !important;
}
.home .historial-cont.open .h-separator .arrow img {
  transform: rotate(90deg);
}
.home .historial-cont.open .device_cont {
  overflow: visible;
  width: 100%;
}
.home .historial-cont.closed {
  max-height: 45px;
}
.home .historial-cont.closed .title {
  bottom: 0 !important;
}
.home .historial-cont.closed .h-separator .arrow img {
  transform: rotate(150deg);
}
.home .historial-cont.closed .device_cont {
  overflow: visible;
  width: 100%;
}
.home .historial-cont {
  max-height: 30vh;
  height: 100%;
}
.home .historial-cont .historial {
  height: 100%;
  justify-self: flex-end;
  position: relative;
  padding-top: 15px;
  overflow-y: hidden;
}
.home .historial-cont .historial .title {
  color: white;
  height: 100%;
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
  left: 0;
  margin: 0;
  padding-left: 30px;
  transition: 0.5s all ease-in-out;
}
.home .historial-cont .historial .title span {
  display: block;
  font-size: 1.25rem;
}
.home .historial-cont .historial .h-separator {
  position: absolute;
  width: 100%;
  height: 15px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background: #fbc658;
}
.home .historial-cont .historial .h-separator .arrow {
  background: rgba(255, 255, 255, .7);
  padding-left: 20px;
  padding-right: 20px;
  line-height: 15px;
}
.home .historial-cont .historial .h-separator .arrow img {
  width: 10px;
  transform: rotate(90deg);
  transition: 0.5s all ease-in-out;
}

.map {
  width: 100%;
  height: 100%;
}

.map-container {
  height: 100%;
}

.map-block {
  height: 100%;
  padding: 0;
}